<div class="container w-50 mt-5 mb-5">
    <div class="card text-center">
        <div class="card-header">
            LOGIN
        </div>
        <div class="card-body">
            <h5 class="card-title">So happy to see you again!</h5>
            <form action="/api/sessions/login" method="post">
                <p class="card-text">Email</p>
                <input type="email" name="email" id="email">
                <p class="card-text">Password</p>
                <input type="password" name="password" id="password"><br>
                <input type="submit" value="Login" class="btn btn-primary mt-3">
                {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
            </form>
        </div>
        <div class="card-footer text-body-secondary">
            New to this project? <a href="/signup">Create an account</a>
        </div>
        <p class="card-text">OR</p>
        <div class="container mb-3">
            <button onclick="location.href='/api/sessions/auth/google'">JOIN WITH GOOGLE</button>
        </div>
        {{!-- <div class="card-footer text-body-secondary">
        </div> --}}
    </div>
</div>